# 计算指标

- 沪深300成分股 2024-1 ~ 2025-2数据

In [1]:
import os
import numpy as np
import pandas as pd
import shutil
import baostock as bs
import talib
import tushare as ts

## 沪深300成分股

In [5]:
"""沪深300成分股"""
lg = bs.login()
if lg.error_code != '0':
    print(f'登录失败，错误代码：{lg.error_code}, 错误信息：{lg.error_msg}')
else:
    print('登录成功')

# 获取沪深300成分股
rs = bs.query_hs300_stocks()
if rs.error_code != '0':
    print(f'查询沪深300成分股失败，错误代码：{rs.error_code}, 错误信息：{rs.error_msg}')
else:
    # 保存成DataFrame
    hs300_stocks = []
    while rs.next():
        hs300_stocks.append(rs.get_row_data())
    df_hs300 = pd.DataFrame(hs300_stocks, columns=rs.fields)
    print(df_hs300)

bs.logout()

login success!
登录成功
     updateDate       code code_name
0    2025-04-07  sh.600000      浦发银行
1    2025-04-07  sh.600009      上海机场
2    2025-04-07  sh.600010      包钢股份
3    2025-04-07  sh.600011      华能国际
4    2025-04-07  sh.600015      华夏银行
..          ...        ...       ...
295  2025-04-07  sz.300832       新产业
296  2025-04-07  sz.300896       爱美客
297  2025-04-07  sz.300979      华利集团
298  2025-04-07  sz.300999       金龙鱼
299  2025-04-07  sz.301269      华大九天

[300 rows x 3 columns]
logout success!

In [6]:
df_hs300

     updateDate       code code_name
0    2025-04-07  sh.600000      浦发银行
1    2025-04-07  sh.600009      上海机场
2    2025-04-07  sh.600010      包钢股份
3    2025-04-07  sh.600011      华能国际
4    2025-04-07  sh.600015      华夏银行
..          ...        ...       ...
295  2025-04-07  sz.300832       新产业
296  2025-04-07  sz.300896       爱美客
297  2025-04-07  sz.300979      华利集团
298  2025-04-07  sz.300999       金龙鱼
299  2025-04-07  sz.301269      华大九天

[300 rows x 3 columns]

## 2024-1至2025-2的股票数据

In [2]:
raw_data = pd.DataFrame(pd.read_csv("/home/kennys/MineX/QuantTrading/dataset/沪深300-2024年1月至2025年2月数据.csv"))
raw_data

,Unnamed: 0,date,code,open,high,low,close,preclose,volume,amount,turn
0,0,2024-01-02,sh.600000,6.63,6.65,6.60,6.60,6.62,22066700.0,1.460663e+08,0.0752
1,1,2024-01-03,sh.600000,6.59,6.65,6.59,6.64,6.60,18203654.0,1.206397e+08,0.0620
2,2,2024-01-04,sh.600000,6.64,6.67,6.55,6.62,6.64,28885978.0,1.905806e+08,0.0984
3,3,2024-01-05,sh.600000,6.60,6.76,6.59,6.68,6.62,44421387.0,2.969769e+08,0.1513
4,4,2024-01-08,sh.600000,6.68,6.71,6.56,6.59,6.68,37520337.0,2.479778e+08,0.1278
...,...,...,...,...,...,...,...,...,...,...,...
83395,83395,2025-02-24,sz.301269,117.31,119.48,115.48,117.76,117.31,6239560.0,7.320926e+08,2.3786
83396,83396,2025-02-25,sz.301269,115.80,120.83,114.40,118.11,117.76,7596517.0,8.936182e+08,2.8959
83397,83397,2025-02-26,sz.301269,118.18,118.51,114.28,117.49,118.11,7569108.0,8.792310e+08,2.8854
83398,83398,2025-02-27,sz.301269,116.98,117.63,112.25,114.09,117.49,6267180.0,7.182731e+08,2.3891
83399,83399,2025-02-28,sz.301269,113.00,113.80,106.09,107.14,114.09,5876698.0,6.411158e+08,2.2403